{% extends 'base_generic.html' %}

{% block content %}
  <h2>Available Books</h2>
  <ul>
    {% for book in books %}
      <li>
        <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a> by {{ book.author }}
        - €{{ book.price }}
        {% if user.is_authenticated and user != book.seller %}
          <a href="{% url 'buy_book' book.pk %}">Buy</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if user.is_authenticated %}
    <a href="{% url 'add_book' %}">Add New Book</a>
  {% endif %}
{% endblock %}
